<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pix</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/make_pix.css')}}">
</head>
<body class="bg-gray-100">
    <div class="sidebar" id="sidebar">
        <div class="logo">
            <h1>PixApi</h1>
        </div>
        <nav class="menu">
            <ul class="menu-list">
                <li><a class="menu-item" href="/">Home</a></li>
                <li><a class="menu-item" href="/select-pix-form">Pix</a></li>
                <li><a class="menu-item" href="/recebment-transactions">Transações de Recebimento</a></li>
                <li><a class="menu-item" href="/payment-transactions">Transações de Pagamento</a></li>
                <li><a class="menu-item" href="/create_pix_key">Registrar Chave Pix</a></li>
                <li><a class="menu-item" href="#">Pagamento em Conjunto</a></li>
                <li><a class="menu-item" href="#">Informações da Conta</a></li>
            </ul>
        </nav>
        <div class="logout-button">
            <button class="btn-logout">Sair da conta</button>
        </div>
    </div>

    <div class="content-wrapper flex flex-col p-4 w-full md:ml-64">
        <button id="toggle-sidebar" class="toggle-button fixed top-4 left-4 z-50 md:hidden" aria-label="Toggle sidebar">
            <svg class="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" width="24" height="24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    
        <div class="main max-w-md mx-auto w-full">
            <h1 class="title text-3xl md:text-4xl font-bold text-center mb-8">
                <span class="pix text-green-600">Pix</span> - Faça o seu!
            </h1>
            <div class="form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <form action="{{url_for('pix_controller.make_secretkey_pix')}}" method="POST">
                    {{form.hidden_tag()}}
                    <div class="input-group mb-4">
                        <label for="secret_key" class="block text-gray-700 text-sm font-bold mb-2">Chave Secreta</label>
                        {{form.pix_key(class='form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder='Digite a chave secreta')}}
                    </div>
                    <div class="input-group mb-6">
                        <label for="amount" class="block text-gray-700 text-sm font-bold mb-2">Valor a ser transferido</label>
                        {{form.amount(class='form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder='Digite o valor a ser transferido')}}
                    </div>
                    <button class="submit bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit">Transferir</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/cru.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>
</html>