<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pix</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/make_pix.css')}}">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="logo">
            <h1>PixApi</h1>
        </div>
        <nav class="menu">
            <ul class="menu-list">
                <li><a class="menu-item" href="/">Home</a></li>
                <li><a class="menu-item" href="/pix-form">Pix</a></li>
                <li><a class="menu-item" href="/recebment-transactions">Transações de Recebimento</a></li>
                <li><a class="menu-item" href="/payment-transactions">Transações de Pagamento</a></li>
                <li><a class="menu-item" href="#">Pagamento em Conjunto</a></li>
                <li><a class="menu-item" href="#">Informações da Conta</a></li>
            </ul>
        </nav>
        <div class="logout-button">
            <button class="btn-logout">Sair da conta</button>
        </div>
    </div>
    
    <div class="content-wrapper">
        <button id="toggle-sidebar" class="toggle-button" aria-label="Toggle sidebar">
            <svg class="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" width="24" height="24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    <div class="main">
        <h1 class="title">
            <span class="pix">Pix</span> - Faça o seu!
        </h1>
        <div class="form">
            <form action="{{url_for('home_controller.make_pix')}}" method="POST">
                {{form.hidden_tag()}}
                <div class="input-group">
                    <label for="secret_key">Chave Secreta</label>
                    {{form.secret_key(class='form-control', placeholder='Digite a chave secreta')}}
                </div>
                <div class="input-group">
                    <label for="amount">Valor a ser transferido</label>
                    {{form.amount(class='form-control', placeholder='Digite o valor a ser transferido')}}
                </div>
                <button class="submit" type="submit">Transferir</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/cru.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>
</html>